{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}Category Posts - {{Category.category_name}} - Post Craft{% endblock %}



{% block extra_css %}
<style>
  .section-title {
    color: #fbbf24 !important;
    font-weight: 600;
  }

  .post-title {
    color: #f8f9fa !important;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }

  .post-title:hover {
    color: #a8b2d1 !important;
  }
</style>
{% endblock %}

{% block content %}
<main class="container mt-5">
  <h3 class="text-uppercase section-title mb-4" style="letter-spacing: 2px;">Category - {{Category.category_name}}</h3>
  <div class="row">
    {% for blog in posts %}
    <div class="col-md-6 mb-4">
      <div class="card border-0 bg-body-tertiary shadow-sm h-100">
        <div class="card-body">
          <a href="{% url 'post_details' blog.slug %}" class="text-decoration-none"><h3 class="post-title h4">{{ blog.title }}</h3></a>
          <small class="mb-2 d-block text-muted">{{ blog.created_at|exact_naturaltime }} | By {{ blog.author }}</small>
          <p class="card-text text-muted">{{ blog.description|truncatewords:30 }}</p>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12">
      <p class="text-white">No posts found in this category.</p>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}